<!-- <p>nav works!</p>
<mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->
<div style="height: fit-content;" class="default-theme">
    <mat-toolbar class="navbar is-light" class="default-theme">
        <div fxShow="false" fxHide.gt-sm="true">
            
        </div>
        <a mat-button class="studentP" routerLink="/">
            <span>Student++</span>
            <!--  <img class="logo" src="../../assets/img/logo.png" alt="tassii" />-->
        </a>
        <span class=" example-spacer "></span>
        <div fxShow="true " fxHide.lt-md="true ">
            <a mat-button routerLink='/israa'>Courses</a>
            <a mat-button routerLink='/'>Contact</a>
            <a mat-button class="con" routerLink='/register' >Register</a>
            <a mat-button routerLink='/login' >Login</a>


        </div>
    </mat-toolbar>
    
</div>